<pre>
.
└── server
    ├── helpers.py
    ├── main.py
    ├── static
    │   ├── assets
    │   │   ├── files
    │   │   │   ├── 676232030813585834
    │   │   │   │   ├── 676232030813585834
    │   │   │   │   └── meow.mp3
    │   │   │   └── 7161132626609476751
    │   │   │       ├── 7161132626609476751
    │   │   │       └── test.jpg
    │   │   └── notes
    │   │       ├── 1279479503813173942
    │   │       └── 2166627940143234978
    │   ├── css
    │   │   └── style.css
    │   ├── db
    │   │   └── questions.db
    │   ├── icons
    │   │   ├── NONE.png
    │   │   ├── ODT.png
    │   │   ├── PDF.png
    │   │   └── TXT.png
    │   ├── js
    │   │   └── script.js
    │   └── pictures
    │       └── banner.png
    └── templates
        ├── banner.html
        ├── front.html
        ├── index.html
        ├── noscript.html
        └── panels
            ├── clock.html
            ├── files.html
            ├── notes.html
            ├── quiz.html
            └── stuff.html
</pre>
